:root {
    --main-dark: #000;
    --main-blue-accent: #6889FF;
    --main-green: #B2DD9E;
    --main-dark-blue: #303853;
    --sidebar-blue: #7988BE;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    font-family: "Montserrat", sans-serif;
    padding: 0 2em; 
}

/* upper container divs are for the green/purple bg and positioning */

.upper-container {
    position: relative;
}

.upper-bg {
    height: 100vh;
    width: 90%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--sidebar-blue);
    display: grid;
    grid-template-columns: 80% auto;
    z-index: -1;
}

.upper-bg-col1 {
    min-width: 300px;
    min-height: 700px;
    background-color: var(--main-green);
    background-image: url("./assets/streaks.jpg");
    background-blend-mode: screen;
    background-position: center;
    background-size: cover;
}

.upper-bg-col2 {
    min-width: 40px;
    max-width: 65px;
    min-height: 700px;
}

/* header and navigation */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-logo {
    font-size: 2rem;
    background-color: var(--main-dark);
    padding: 0.25em;
    color: #fff;
}

.header-logo-accent {
    color: var(--main-blue-accent);
}

.hamburger {
    cursor: pointer;
}

.menu {
    display: none;
    list-style-type: none;
}

/* style for all that pesky bebas neue */

.headline-font {
    font-family: "Bebas Neue", sans-serif;
}

.intro {
    max-height: 700px;
    text-align: center;
    padding: 3em 0;
}

.intro p {
    line-height: 1.5;
    font-size: 1.125rem;
}

.intro h1 {
    font-size: 4rem;
    line-height: 0.95;
    margin: 0;
}

.quote-section {
    background-image: url("./assets/stadium.jpg");
    background: var(--main-dark-blue);
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
}