:root {
    --main-dark: #000;
    --main-blue-accent: #6889FF;
    --main-green: #B2DD9E;
    --main-dark-blue: #303853;
    --sidebar-blue: #7988BE;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    font-family: "Montserrat", sans-serif;
}

/* upper container divs are for the green/purple bg and positioning */

.upper-container {
    position: relative;
}

.upper-bg {
    height: 100vh;
    width: 90%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--sidebar-blue);
    display: grid;
    grid-template-columns: 80% auto;
    z-index: -1;
}

.upper-bg-col1 {

    background-color: var(--main-green);
    background-image: url("./assets/streaks.jpg");
    background-blend-mode: screen;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* header and navigation */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 2rem;
    background-color: var(--main-dark);
    padding: 0.25em;
    color: #fff;
}

.header-logo-accent {
    color: var(--main-blue-accent);
}

/* nav */

.hamburger,
.menu-close {
    cursor: pointer;
}

.menu {
    transform: translateX(100%);
    transition: transform .3s;
    position: fixed;
    top: 0;
    right: 0;
    width: 66%;

    list-style-type: none;
    background: var(--main-dark-blue);
    height: 100vh;
    z-index: 2;
    padding: 2em 0;
    margin: 0;
}

.menu-close,
.menu li {
    text-align: right;
}

.menu-close img {
    width: 2em;
    margin: 2em;
}

.menu li a {
    color: #fff;
    display: block; /* need display block on a elements to apply padding! */
    padding: .4em 1.5em;
    font-size: 1.75rem;
    font-weight: normal;
}

/* style for all that pesky bebas neue */

.headline-font {
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
}

main {
    height: 75vh;
}

.intro {
    text-align: center;
    margin: 8em 3em 0;
}

.intro p {
    line-height: 1.5;
    font-size: 1.125rem;
}

.intro h1 {
    font-size: 4rem;
    line-height: 0.95;
    margin: 0;
}

/* drone image in the main */

.drone-container {
    width: 65%;
    position: relative;
    margin: 5em auto;
}

.drone {
    position: absolute;
    z-index: 1;
    animation: hover 2s alternate-reverse infinite;
}

.blur {
    position: absolute;
    opacity: .3;
    top: 1em;
    animation: pulse 2s alternate-reverse infinite;
}

@keyframes hover {
    from {
        transform: translateY(-30px);
    }
}

@keyframes pulse {
    from {
        opacity: 0;
    }
}

/* quote section */

.quote-section {
    width: 90%;
    position: relative;
    padding: 4em 2em;
    margin-left: auto;
    height: 75vh;

    background: var(--main-dark-blue);
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
}

.quote-section:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-image: url("./assets/stadium.jpg");
    width: 100%;
    height: 100%;
    opacity: 17%;
}

blockquote {
    font-size: 2rem;
    margin: 0 0 2em 0;
}

cite {
    position: relative;
    padding-left: 1.25em;
}

cite:before {
    position: absolute;
    left: 0;
    top: 50%;
    content: '';
    width: 1em;
    border-bottom: 1px solid #fff;
}