.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
}

header {
    background: darkgrey;
    grid-area: header;
}

footer {
    background: lightcyan;
    grid-area: footer;
}

.sidebar {
    background: lightpink;
}

main {
    background: lightsteelblue;
}