body {
    margin: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    text-align: center;
    display: grid;
    justify-content: center;
}

.header {
    color: #5C887D;
    margin-bottom: 1em;
    text-align: center;
}

.entry-textbox {
    width: 20em;
    height: 10em;
    padding: 1em;
    border-radius:15px;
    margin-bottom: 0.5em;
    background-color: seashell;
    border: unset;
}

.entry-textbox:focus {
    outline: none;
}

.button {
    border-radius: 5px;
    padding: 0.5em 1em;
    border: unset;
    background: slategray;
    color: white;
}

#entries {
    background-color: #5C887D;
    color: seashell;
    border-radius: 5px;
    margin-top: 2em;
    padding: .5em;
    text-align: left;
    display: none;
}

.entry-button {
    border: unset;
    border-radius: 2px;
    background-color: seashell;
    color: #5C887D;
    font-weight: 700;
    margin: .5em;

}