body {
    margin: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    text-align: center;
}

.header {
    color: #5C887D;
    margin-bottom: 1em;
    text-align: center;
}

.entry-textbox {
    width: 20em;
    height: 10em;
    padding: 1em;
    border-radius:15px;
    margin-bottom: 0.5em;
    background-color: seashell;
    border: unset;
}