.toggle {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 20%;
    
}

#toggle-btn {
    background-color: #ccc;
    border-radius: 30px;
    padding: 5px;
    width: 60px;
    height: 30px;
    margin: 15px;
}

.inner-circle {
    background-color: darkblue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all 250ms;
}

#toggle-btn.toggled > .inner-circle {
    transform: translateX(30px);
    background-color: darkgoldenrod;
}

.unselected {
    opacity: 0.25;
}