html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: rgba(82, 0, 255, 1);
    background-image: linear-gradient(180deg, rgba(82, 0, 255, 1), rgba(82, 0, 255, .6) 55%),
                        url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

}

.headline {
    font-size: 4rem;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    line-height: 4.5rem;
}

.subhead {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5em;
}

.header,
.subhead {
    text-align: center;
    padding: 1.75em 1em;
}

form {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.input {
    border: 1px solid #c7c7c7;
    background-color: #EDEDED;
    padding: 1.25em 1em;
    margin: 1em 0;
}

label {
    margin: 1.25em;
    display: flex;
    flex-direction: column;
}

.btn{
    background-color: #5200FF;
    color: #fff;
    border: unset;
    cursor: pointer;
    padding: 1.25em 1em;
    margin: 1em;
}

@media screen and (min-width: 770px) {

    .container {
        max-width: 100%;
    }

   form {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
   }

   .btn {
       max-width: 200px;
   }
}