/* DON'T TOUCH THIS! */
body {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	overflow-x: hidden;
}
.header {
	font-family: 'Lora', serif;
	color: #143774;
	background: #F8F8F8;
	text-align: center;
	font-size: 3rem;
	font-weight: 400;
	padding: 0.75em;
	margin: 0;
	width: 100%;
}

.post-title {
	color: #1792D2;
	font-size: 2rem;
}

.post-description {
	color: #707070;
	font-size: 1.125rem;
}

.post {
	background: #E1E1E1;
}
/* DON'T TOUCH THIS! */

/* ==========================
	Write your solution here!
   ========================== */

   .posts {
       display: flex;
	   flex-flow: column wrap;
	   align-items: center;
	   justify-content: space-between;
	   width: 50%;
	   margin: 0 auto;
   }

   .post {
       margin: 2em auto;
       padding: 1em;
       border-radius: 2em;
	   text-align: center;
	   width: 40%;
	   display: flex;
	   flex-direction: column;
	   align-items: center;
   }

   img {
       width: 100%;
	   object-fit: cover;
	   order: 3;
   }

   .post-description {
	   order: 1;
   }

   .header {
	   order: 0;
   }

   @media (min-width: 675px) {
	   .posts {
		   flex-flow: row wrap;
		   justify-content: space-between;
	   }

	   .post-description {
		order: 3;
	}
 
	.header {
		order: 1;
	}

	img {
		order: 2
	}
   }

