body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    background: #fff;
}

img {
    max-width: 100%;
}

h1 span {
    color: #B7832F;
}

.container {
    width: 80%;
    max-width: 980px;
    margin: 0 auto;
    color: #707070;
}

.columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5em 0;
    margin: 1em 0;
}

/* changing flex direction for smaller screens */ 

@media (max-width: 600px) {
    .columns {
        flex-direction: column;
    }
}

.col {
    padding: 0.5em;
}

.dark {
    background-color: #312614;
    color: #fff;
    padding: 1em;
}

/* typography */

h1 {
    text-align: center;
    font-size: 3rem;
    color: #312614;
}

h2 {
    font-size: 1.5rem;
    margin-top: 0;
}

p {
    margin-top: 0;
}


/* baby's first grid */
/* this was built as a 4 column layout. so each column is 25% width */
/* taking 5% off of each for spacing purposes. doing this instead of messing with margins */

.col-1 {
    width: 20%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 70%;
}

/* fixing the grid */ 
/* this has to come after the default selector */

@media (max-width: 600px) {

    .col
     {
        width: 100%;
    }
}