/*

PART 1:

You've been ordered to improve your company's newsletter form. 
You can design it however you want, but the manager wants the button to
animate both on the :hover and the :active state.

1. Redesign the page (e.g. colors, positions, sizing, spacing)
2. Improve the button's hover effect
3. Improve thee button's click effect

SKILLS:
color, background, margin, padding, border-radius, 
CSS pseudo selectors (:active, :hover), transform
*/


body {
    margin: 0;
    background: rgb(248, 248, 248);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

h3 {
    color: rgb(188, 154, 207);
    margin-top: 20px;
    margin-bottom: 0;
}

input {
    border-radius: 20px;
    width: 200px;
}

button {
    display: block;
    border-radius: 12px;
    border: 0;
    padding: 0.5em;
    background: #ccc;
    font-size: 1rem;
    font-family: 'Sansita Swashed', sans-serif;
}

button:hover {
    font-size: 20px;
}

button:active {
    color: red;
}

