/*

PART 1:

You've been ordered to improve your company's newsletter form. 
You can design it however you want, but the manager wants the button to
animate both on the :hover and the :active state.

1. Redesign the page (e.g. colors, positions, sizing, spacing)
2. Improve the button's hover effect
3. Improve thee button's click effect

SKILLS:
color, background, margin, padding, border-radius, 
CSS pseudo selectors (:active, :hover), transform
*/


body {
    margin: 0;
    background: linear-gradient(rgb(248, 248, 248), rgb(241, 233, 241));
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

label {
    margin-bottom: 0.5em;
}

h3 {
    color: rgb(188, 154, 207);
    font-size: 2rem;
    margin: 1em 0 0 0;
    text-align: center;
    font-family: 'Sansita Swashed', sans-serif;
}

.desc {
    font-size: 0.75rem;
    color: rgb(56, 56, 56);
    text-align: center;
}

input, button {
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

input {
    border: 0;
    border-bottom: 1px solid #ccc;
    padding: 0.75em;
    width: 100%;
    margin-bottom: 1em;
}

input:hover,
input:focus {
    border-bottom: 2px solid #000;
    font-weight: 600;
}

button {
    display: block;
    background-color:rgb(188, 154, 207);
    color: rgb(56, 56, 56);
    border: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.5em 0.25em;
    font-size: 1rem;
    transform: scale(1);
    transition: transform 250ms;
}

button:hover,
button:focus {
    background: linear-gradient(rgba(133, 100, 133, 0.8), rgba(104, 71, 110, 0.8), rgba(133, 100, 133, 0.8));
    color: #fff;
    transform: scale(1.02); 
    cursor: pointer;
}

button:active {
    color:#FFF;

}

.modal {
    position: relative;
    top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:  rgba(104, 71, 110, 0.8);
    width: 40%;
    margin: 0 auto;
}

.overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}