body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #2E354F;
    color: white;
}


main {
    background-color: #fff;
    color: #2E354F;
}

.container {
    width: 70%;
    margin: 0 auto;
    border: 1px solid magenta;
}

h1, h2, p {
    margin-top: 0;
}

h2 {
    margin-top: 30px;
    color: #EF5839;
}

img {
    margin-bottom: 30px;
}

a {
    color: #EF5839;
    font-weight: 800;
    text-decoration: none;
}

a:hover {
    color:#ccc;
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: 800;
    margin-right: 15px;
}

.contact {
    background-color: #EF5839;
    color: #fff;
}

.info {
    background-color: #fff;
    color: #2E354F;
}

.btn:hover {
    background-color: #2E354F;
    color: #fff;
    border-bottom: 1px solid #EF5839;
}