@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@400;700&family=Source+Sans+Pro:wght@300&display=swap');

section {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    color: #FFF;
}

.card {
    background-color: #111D4A;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.content {
    padding: 2rem;
}

.section-footer, .reading-time {
    display: flex;
}

.section-footer {
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3em;
}

.reading-time {
    flex-direction: column;
}

.card-img {
    object-fit: cover;
}

.test {
    background-color: yellow;
    object-fit: cover;
    flex-basis: 200px; /* swaps axis when you call in the media queries */
}

/* typography */

.headline, .time, .btn {
    font-family: "Blinker", sans-serif;
    font-weight: 700;
}

.headline {
    color: #05cbe9;
    font-size: 2.5rem;
    margin: 0;
    line-height: 1;
}

.subhead {
    font-size: 1rem;
    line-height: 1.6;
}

.reading-time  {
    opacity : .6;
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0;
    line-height: 1.1;
}

.time {
    font-size: 2.5rem;
    display: block;
    margin: 0;
}

.btn {
    font-family: "Blinker", sans-serif;
    font-weight: 700;
    color: #111d4a;
    font-size: 2rem;
    padding: 0.5em 2em;
    background-color: #05cbe9;
    border: unset;
    cursor: pointer;
}

@media (max-width: 600px) {
    /* add in desktop changes here! */
    .card {
        flex-direction: column;
    }
    
    .test {
        height: 300px;
    }
}